.mybar{
	background-image: url(images/back_main.png);
	height: 500px;
	
}

.navbar .nav-item a{
    color: #FFF !important;
}

.navbar .dropdown-menu{
	background-color: rgba(0, 0, 0, 0.7);
}

.dropdown-item:hover{
	background-color: rgba(0, 0, 0, 0.7);
}

body{
	background-color: #000000;
	color: #ffff;
}
